<button nz-button [nzType]="'default'" name="add" (click)="openAdd()">
  <span>新增</span>
</button>
<br>
<nz-table #nzTable [nzDataSource]="data" [nzPageSize]="2">
  <thead nz-thead>
  <tr>
    <th nz-th *ngFor="let item of displayTh"><span>{{ item }}</span></th>
  </tr>
  </thead>
  <tbody nz-tbody>
  <tr nz-tbody-tr *ngFor="let data of nzTable.data">
    <td nz-td>{{data.goodsid}}</td>
    <td nz-td>{{data.guserid}}</td>
    <td nz-td>{{data.gname}}</td>
    <td nz-td>{{data.gstartaccount}}</td>
    <td nz-td>{{data.ghighaccount}}</td>
    <td nz-td style="width:30%;">{{data.gcontent}}</td>
    <td nz-td>{{data.gstartdate}}</td>
    <td nz-td>{{data.genddate}}</td>
    <td nz-td>{{data.gtypeid}}</td>
    <td nz-td>{{data.goodstate}}</td>
    <td nz-td>
      <span>
        <button nz-button [nzType]="'primary'" (click)="openUpdate(data)">编辑</button>
        <span nz-table-divider></span>
        <button nz-button [nzType]="'danger'" (click)="deleteinfo(data)">删除</button>
      </span>
    </td>
  </tr>
  </tbody>
</nz-table>

<!--update Modal-->
<nz-modal [nzVisible]="updateShow" [nzTitle]="'商品信息更新'" [nzContent]="contentUpdate" [nzFooter]="null"
          (nzOnCancel)="closeUpdate()">
  <ng-template #contentUpdate>
    <form [formGroup]="u_validateForm" nz-form (ngSubmit)="submitUpdate($event,u_validateForm.value)">
      <!--商品名称-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品名称</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_gname" [(ngModel)]="goodsUpdate.gname" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getU_FormControl('u_gname').dirty&&getU_FormControl('u_gname').hasError('required')">商品名称不能为空!
          </div>
        </div>
      </div>
      <!--所属用户编号-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>所属用户编号</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_guserid" [(ngModel)]="goodsUpdate.guserid" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入所属用户编号'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getU_FormControl('u_guserid').dirty&&getU_FormControl('u_guserid').hasError('required')">
            所属用户编号不能为空!
          </div>
        </div>
      </div>
      <!--商品起拍价格-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品起拍价格</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_gstartaccount" [(ngModel)]="goodsUpdate.gstartaccount"
                    [nzType]="'text'" [nzPlaceHolder]="'请输入商品起拍价格'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getU_FormControl('u_gstartaccount')
          .dirty&&getU_FormControl('u_gstartaccount').hasError('required')">商品起拍价格不能为空!
          </div>
        </div>
      </div>
      <!--商品最高拍卖价格-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品最高拍卖价格</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_ghighaccount" [(ngModel)]="goodsUpdate.ghighaccount" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品最高拍卖价格'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getU_FormControl('u_ghighaccount')
          .dirty&&getU_FormControl('u_ghighaccount').hasError('required')">商品最高拍卖价格不能为空!
          </div>
        </div>
      </div>
      <!--拍卖开始时间-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>拍卖开始时间</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-datepicker formControlName="u_gstartdate" [(ngModel)]="goodsUpdate.gstartdate" [nzFormat]="'YYYY/MM/DD HH:mm:ss'"
                         [nzPlaceHolder]="'请输入拍卖开始时间'" [nzSize]="'large'" nzShowTime></nz-datepicker>
          <div nz-form-explain *ngIf="getU_FormControl('u_gstartdate')
          .dirty&&getU_FormControl('u_gstartdate').hasError('required')">拍卖开始时间不能为空!
          </div>
        </div>
      </div>
      <!--拍卖结束时间-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>拍卖结束时间</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-datepicker formControlName="u_genddate" [(ngModel)]="goodsUpdate.genddate" [nzFormat]="'YYYY/MM/DD HH:mm:ss'"
                         [nzPlaceHolder]="'请输入拍卖结束时间'" [nzSize]="'large'" nzShowTime></nz-datepicker>
          <div nz-form-explain *ngIf="getU_FormControl('u_genddate')
          .dirty&&getU_FormControl('u_genddate').hasError('required')">拍卖结束时间不能为空!
          </div>
        </div>
      </div>
      <!--商品类别-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品类别</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_gtypeid" [(ngModel)]="goodsUpdate.gtypeid" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品类别'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getU_FormControl('u_gtypeid')
          .dirty&&getU_FormControl('u_gtypeid').hasError('required')">商品类别不能为空!
          </div>
        </div>
      </div>
      <!--商品状态-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品状态</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_goodstate" [(ngModel)]="goodsUpdate.goodstate" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品状态'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getU_FormControl('u_goodstate')
          .dirty&&getU_FormControl('u_goodstate').hasError('required')">商品状态不能为空!
          </div>
        </div>
      </div>
      <!--商品简介-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品简介</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="u_gcontent" [(ngModel)]="goodsUpdate.gcontent" [nzRows]="'6'"
                    [nzType]="'textarea'" [nzPlaceHolder]="'请输入商品简介'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getU_FormControl('u_gcontent')
          .dirty&&getU_FormControl('u_gcontent').hasError('required')">商品简介不能为空!
          </div>
        </div>
      </div>
      <!--submit Button-->
      <div nz-form-item nz-row>
        <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
          <button nz-button [nzType]="'primary'" [nzSize]="'large'">Submit</button>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>
<!--add Modal-->
<nz-modal [nzVisible]="addShow" [nzTitle]="'新增商品信息'" [nzContent]="content" [nzFooter]="null"
          (nzOnCancel)="closeAdd()">
  <ng-template #content>
    <form [formGroup]="a_validateForm" nz-form (ngSubmit)="submitAdd($event,a_validateForm.value)">
      <!--商品名称-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品名称</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="a_gname" [(ngModel)]="goodsinfo.gname" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品名称'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getA_FormControl('a_gname').dirty&&getA_FormControl('a_gname').hasError('required')">商品名称不能为空!
          </div>
        </div>
      </div>
      <!--所属用户编号-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>所属用户编号</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="a_guserid" [(ngModel)]="goodsinfo.guserid" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入所属用户编号'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain
               *ngIf="getA_FormControl('a_guserid').dirty&&getA_FormControl('a_guserid').hasError('required')">
            所属用户编号不能为空!
          </div>
        </div>
      </div>
      <!--商品起拍价格-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品起拍价格</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="a_gstartaccount" [(ngModel)]="goodsinfo.gstartaccount"
                    [nzType]="'text'" [nzPlaceHolder]="'请输入商品起拍价格'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getA_FormControl('a_gstartaccount')
          .dirty&&getA_FormControl('a_gstartaccount').hasError('required')">商品起拍价格不能为空!
          </div>
        </div>
      </div>
      <!--商品最高拍卖价格-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品最高拍卖价格</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="a_ghighaccount" [(ngModel)]="goodsinfo.ghighaccount" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品最高拍卖价格'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getA_FormControl('a_ghighaccount')
          .dirty&&getA_FormControl('a_ghighaccount').hasError('required')">商品最高拍卖价格不能为空!
          </div>
        </div>
      </div>
      <!--拍卖开始时间-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>拍卖开始时间</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-datepicker formControlName="a_gstartdate" [(ngModel)]="goodsinfo.gstartdate" [nzFormat]="'YYYY/MM/DD HH:mm:ss'"
                         [nzPlaceHolder]="'请输入拍卖开始时间'" [nzSize]="'large'" nzShowTime></nz-datepicker>
        </div>
      </div>
      <!--拍卖结束时间-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>拍卖结束时间</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-datepicker formControlName="a_genddate" [(ngModel)]="goodsinfo.genddate" [nzFormat]="'YYYY/MM/DD HH:mm:ss'"
                         [nzPlaceHolder]="'请输入拍卖结束时间'" [nzSize]="'large'" nzShowTime></nz-datepicker>
        </div>
      </div>
      <!--商品类别-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品类别</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="a_gtypeid" [(ngModel)]="goodsinfo.gtypeid" [nzType]="'text'"
                    [nzPlaceHolder]="'请输入商品类别'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getA_FormControl('a_gtypeid')
          .dirty&&getA_FormControl('a_gtypeid').hasError('required')">商品类别不能为空!
          </div>
        </div>
      </div>
      <!--商品简介-->
      <div nz-form-item nz-row>
        <div nz-form-label nz-col [nzSpan]="7">
          <label>商品简介</label>
        </div>
        <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
          <nz-input formControlName="a_gcontent" [(ngModel)]="goodsinfo.gcontent" [nzRows]="'6'"
                    [nzType]="'textarea'" [nzPlaceHolder]="'请输入商品简介'" [nzSize]="'large'">
          </nz-input>
          <div nz-form-explain *ngIf="getA_FormControl('a_gcontent')
          .dirty&&getA_FormControl('a_gcontent').hasError('required')">商品简介不能为空!
          </div>
        </div>
      </div>
      <!--submit Button-->
      <div nz-form-item nz-row>
        <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
          <button nz-button [nzType]="'primary'" [nzSize]="'large'">Submit</button>
        </div>
      </div>
    </form>
  </ng-template>
</nz-modal>


<nz-modal [nzVisible]="uploadShow" [nzTitle]="'上传商品图片'" [nzContent]="uploadcontent" [nzFooter]="null"
          (nzOnCancel)="closeUpload()">
  <ng-template #uploadcontent>
    <nz-upload-picture [goodsid]="addgoods.goodsid"></nz-upload-picture>
  </ng-template>
</nz-modal>
