<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <!--用户名-->
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="7">
      <label nz-form-item-required>用户名</label>
    </div>
    <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
      <nz-input formControlName="userName" [nzType]="'text'" [nzPlaceHolder]="'请输入用户名'" [nzSize]="'large'">
      </nz-input>
      <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('required')">用户名不能为空!</div>
      <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').hasError('duplicated')">用户名已存在!</div>
      <div nz-form-explain *ngIf="getFormControl('userName').dirty&&getFormControl('userName').pending">验证中。。</div>
    </div>
  </div>
  <!--密码-->
  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>密码</label>
    </div>
    <div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="password" [nzPlaceHolder]="'请输入密码'" [nzType]="'password'" [nzSize]="'large'" (ngModelChange)="validateConfirmPassword()">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('password').dirty&&getFormControl('password').hasError('required')">密码不能为空!</div>
      </div>
    </div>
  </div>
  <!--确认密码-->
  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>确认密码</label>
    </div>
    <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
      <nz-input formControlName="passwordConfirmation" [nzType]="'password'" [nzPlaceHolder]="'确认你的密码'" [nzSize]="'large'">
      </nz-input>
      <div nz-form-explain *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('required')">密码不能为空!</div>
      <div nz-form-explain *ngIf="getFormControl('passwordConfirmation').dirty&&getFormControl('passwordConfirmation').hasError('confirm')">两次输入的密码不一致，请重新确认!</div>
    </div>
  </div>
  <!--姓名-->
  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>姓名</label>
    </div>
    <div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="uName" [nzPlaceHolder]="'请输入姓名'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('uName').dirty&&getFormControl('uName').hasError('required')">姓名不能为空!</div>
      </div>
    </div>
  </div>
  <!--性别-->
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="7">
      <label  nz-form-item-required>性别</label>
    </div>
    <div nz-form-control nz-col [nzSpan]="12">
      <nz-radio-group formControlName="sexRadioGroup">
        <label nz-radio [nzValue]="'男'">
          <span>男</span>
        </label>
        <label nz-radio [nzValue]="'女'">
          <span>女</span>
        </label>
      </nz-radio-group>
    </div>
  </div>
  <!--身份证号-->
  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>身份证号</label>
    </div>
    <div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="uCardId" [nzPlaceHolder]="'请输入身份证号'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('uCardId').dirty&&getFormControl('uCardId').hasError('required')">身份证号不能为空!</div>
        <div nz-form-explain *ngIf="getFormControl('uCardId').dirty&&getFormControl('uCardId').hasError('ucardid')">身份证号不正确，请重新输入!</div>
      </div>
    </div>
  </div>
  <!--出生日期-->
  <div nz-form-item nz-row>
    <div nz-form-label nz-col [nzSpan]="7">
      <label nz-form-item-required>出生日期</label>
    </div>
    <div nz-col [nzSpan]="12" nz-form-control>
      <nz-datepicker formControlName="birthDay" [nzPlaceHolder]="'请输入你的出生日期'"></nz-datepicker>
      <div nz-form-explain *ngIf="getFormControl('birthDay').dirty&&getFormControl('birthDay').hasError('required')">出生日期不能为空！</div>
      <div nz-form-explain *ngIf="getFormControl('birthDay').dirty&&getFormControl('birthDay').hasError('expired')">出生日期不能超过当前日期!</div>
    </div>
  </div>
  <!--手机号码-->
  <div nz-form-item nz-row>
    <div nz-col [nzSpan]="7" nz-form-label>
      <label nz-form-item-required>手机号码</label>
    </div>
    <div>
      <div nz-col [nzSpan]="12" nz-form-control nzHasFeedback>
        <nz-input formControlName="uPhone" [nzPlaceHolder]="'请输入手机号码'" [nzType]="'text'" [nzSize]="'large'">
        </nz-input>
        <div nz-form-explain *ngIf="getFormControl('uPhone').dirty&&getFormControl('uPhone').hasError('required')">手机号不能为空!</div>
        <div nz-form-explain *ngIf="getFormControl('uPhone').dirty&&getFormControl('uPhone').hasError('phonecheck')">手机号不正确，请重新输入!</div>
      </div>
    </div>
  </div>
  <!--submit Button-->
  <div nz-form-item nz-row>
    <div nz-col [nzOffset]="7" [nzSpan]="12" nz-form-control>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" [disabled]="!validateForm.valid">提交</button>
      <button nz-button [nzSize]="'large'" (click)="resetForm($event)">重置</button>
    </div>
  </div>
</form>
