<div class="main">
  <div class="main-inner body-width">
    <div class="banner clearfix">
      <div class="slider" id="slider">
        <nz-carousel nzAutoPlay>
          <div nz-carousel-content *ngFor="let index of array" [ngStyle]="{'background-image': index }"></div>
        </nz-carousel>
      </div>
      <div class="banner-info">
        <div class="news body-border">
          <ul>
            <li class="title">商品分类</li>
            <li class="link">
              <a href="/cus/goodstype?typeid={{item.typeid}}"  *ngFor="let item of goodsTlist">{{ item.tname}}<span></span></a>
            </li>
            <li class="choose">
              <nz-anchor>
              <nz-link nzHref="#selected" [nzTitle]="'精选拍品'"></nz-link>
              </nz-anchor>
            </li>
          </ul>
        </div>
        <div class="app body-border">
          <app-card></app-card>
        </div>
      </div>
    </div>
    <div id="selected" class="main-cont main-album">
      <div class="main-cont__title">
        <h3>精选拍品</h3>
        <a href="#" class="more">更多 ></a>
      </div>
      <ul class="main-cont__list clearfix">
        <div *ngFor="let item of goodslist;let i = index">
        <li class="item"  *ngIf="i<=4">
          <a href="/cus/goods?id={{item.goodsid}}" class="pic">
            <img src="../../../assets/images/goods/goods{{item.goodsid}}_1.jpg" alt="#">
          </a>
          <div class="info">
            <a href="/cus/goods?id={{item.goodsid}}" class="title">{{item.gname}}</a>
            <strong>起拍价：</strong><p>{{item.gstartaccount}}</p>
          </div>
        </li>
        </div>
      </ul>
    </div>
  </div>
</div>
